# Database Name
MONGO_DBNAME=lazyCommit

# MongoDB Connection URI (Replace with your actual URI)
MONGO_URI=your_mongodb_connection_uri

# Debug Mode (Set to True for development, False for production)
DEBUG=True